@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Shorelines";
  src: url(../fonts/SHORELINES.OTF);
}

.main-font {
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 0.2px;
}

.header-font {
  font-family: "Shorelines";
}

html {
  background-color: #FFF7EE;
}

::-moz-selection {
  /* Code for Firefox */
  color: #FFF7EE;
  background: #637CC6;
}

::selection {
  color: #FFF7EE;
  background: #637CC6;
}

::-webkit-scrollbar {
  width: 8px
}

::-webkit-scrollbar-track {
  background: #FFF7EE
}

::-webkit-scrollbar-thumb {
  background: #637CC6;
  border-radius: 10px
}

::-webkit-scrollbar-thumb:hover {
  background: #FFF7EE
}

/*! Firefox */
html {
  scrollbar-color: #637CC6 #FFF7EE;
  --scrollbarBG: #FFF7EE;
  --thumbBG: #d52457
}


/* Modern browsers with `scrollbar-*` support */
@supports (scrollbar-width: auto) {
  .scroller {
    scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
    scrollbar-width: var(--scrollbar-width);
  }
}

/* Legacy browsers with `::-webkit-scrollbar-*` support */
@supports selector(::-webkit-scrollbar) {
  .scroller::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color-thumb);
  }

  .scroller::-webkit-scrollbar-track {
    background: var(--scrollbar-color-track);
  }

  .scroller::-webkit-scrollbar {
    max-width: var(--scrollbar-width-legacy);
    max-height: var(--scrollbar-width-legacy);
  }

  #borderbutton {
    border: 10px solid transparent;
    padding: 5px;
    border-image: url(/button_outlined.svg) stretch;
    border-image-slice: 20% 5.5%;
  }

  #borderbutton-solid {
    border: 10px solid transparent;
    padding: 5px;
    border-image: url(/button_solid.svg) stretch;
    border-image-slice: 20% 5.5%;
  }

  #frame {
    border: 50px solid transparent;
    padding: 0px;
    border-image: url(frame.svg) stretch;
    border-image-slice: 37% 37%;
    min-height: auto;
    /* Will allow the frame to extend with content */
    height: auto;
  }

  @media(min-width:640px) {
    #frame {
      border: 35px solid transparent;
      padding: 10px;
      border-image: url(frame.svg) stretch;
      border-image-slice: 37% 37%;
      min-height: auto;
      /* Will allow the frame to extend with content */
      height: auto;
    }
  }

  @media(min-width:1920px) {
    #frame {
      border: 49px solid transparent;
      padding: 10px;
      border-image: url(frame.svg) stretch;
      border-image-slice: 37% 37%;
      min-height: auto;
      /* Will allow the frame to extend with content */
      height: auto;
    }
  }
}