@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Shorelines";
    src: url(../fonts/SHORELINES.OTF);
}


.main-font {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.5px;
}

.header-font {
    font-family: "Shorelines";
}